.No-user-found {
  justify-self: center;
  top: 20%;
  position: relative;
  font-size: 200px;
  font-weight: 900;
  color: rgb(161, 161, 161);
  font-family:
    Cambria, Cochin, Georgia, Times, "Times New Roman", serif, monospace;
}
