body {
  margin: 0px;
}
* {
  box-sizing: border-box;
}

.full-user {
  width: 100%;
  padding: 5%;
  margin-top: 20px;
}
.user-heading-sec {
  width: 100%;
  background-color: rgba(0, 255, 255, 0.504);
  display: flex;
  justify-content: center;
  padding: 20px;
  border: 3px solid black;
  border-radius: 12px;
}
.user-heading {
  font-size: 40px;
  font-weight: bolder;
  margin: 0;
  color: rgb(0, 0, 0);
}
.itm-section {
  width: 100%;
  padding: 20px;
  display: flex;
  justify-content: start;
  flex-flow: row wrap;
  gap: 20px;
}
.itm-card {
  border: 3px solid black;
  border-radius: 12px;
  display: flex;
  flex-flow: column nowrap;
  padding: 8px;
  gap: 12px;
  transition: 0.3s;
}

.itm-top {
  display: flex;
  flex-flow: row nowrap;
  gap: 8px;
}

.itm-card * {
  margin: 0;
}

.itm-card:hover {
  background-color: bisque;
  cursor: pointer;
}

.error-explanation {
  position: fixed;
  right: 0;
  bottom: 0;
  display: flex;
  padding: 18px;
  font-size: 22px;
  font-weight: 500;
  background-color: rgba(244, 244, 170, 0.532);
  display: none;
  transition: display 0.9s cubic-bezier(0.1, 1, 0.3, 1);
  border: 2px solid black;
}
