{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete account</title>
    <link rel="stylesheet" href="{% static 'css/deleteAccount.css' %}" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
    />
  </head>
  <body>
    <main class="main-container">
      <section class="deletion-top">
        <h3 class="deletion-heading">Account deletion.</h3>
        <p class="deletion-text">We are sad to see you go.</p>
        <p class="deletion-text">We hope we get to see you again</p>
      </section>

      <form method="post" class="deleiton-form">
        {% csrf_token %}
        <textarea
          class="final-report"
          name="fin-repo"
          placeholder="Tell us what we can improve"
          maxlength="1200"
          cols="1"
        ></textarea>
        <section class="selection-sec">
          <button type="submit" class="choice-options delete">
            <span class="fa fa-trash"></span> Delete
          </button>
          <a href="../../profile/"
            ><button type="button" class="choice-options">Cancle</button></a
          >
        </section>
      </form>
    </main>
  </body>
</html>
