{% load static %}

<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Delete account</title>
    <link rel="stylesheet" href="{% static 'css/deleteAccount.css' %}" />
  </head>
  <body>
    <main class="main-container">
      <section class="deletion-top">
        <h3 class="deletion-heading">Account deletion.</h3>
        <p class="deletion-text">We are sad to see you go.</p>
        <p class="deletion-text">We hope we get to see you again</p>
      </section>

      <form method="post" class="deleiton-form">
        {% csrf_token %}
        <textarea
          class="final-report"
          name="fin-repo"
          placeholder="Tell us what we can improve"
          maxlength="1200"
          style="height: 268px; width: 519px"
        ></textarea>
        <section class="selection-sec">
          <button type="submit" class="choice-options delete">Delete</button>
          <a href="../../profile/"><button class="choice-options">Return</button></a>
        </section>
      </form>
    </main>
  </body>
</html>
