{%load static%}

<html>
  <head>
    <link rel="stylesheet" href="{% static 'css/home.css' %}" />
  </head>
  <body>
    {% include "header.html" with Name=username link=person_link %}

    <div class="main-show">
      {% for i in items %} {% if i != False %}
      <a class="card-total-link" href="/users/?q={{i.lender.link}}">
        <div class="card-item-div">
          <img class="item-image" src="{{i.item.image}}" />
          <h3 class="item-name">{{i.item.name}}</h3>
          <p class="item-desc">{{i.item.desc}}</p>
          <p class="card-lender">owned by {{i.lender.name}}</p>
        </div>
      </a>
      {% else %}
      <h3 class="No-items-found">No items found</h3>
      {% endif %} {% endfor %}
    </div>
  </body>
</html>
