{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign up</title>
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
  </head>
  <body>
    <div>
      <h2>Sign up</h2>
      <form method="post" accept-charset="UTF-8">
        {%csrf_token%}
        <label for="username" class="input-label">Username</label>
        <input
          name="name"
          type="text"
          id="username"
          placeholder="Username"
          pattern=".{3,15}"
          title="username has to be 3-15 charcters long."
          required
        />

        <label for="password" class="input-label">Password</label>
        <input
          id="password"
          type="password"
          placeholder="password"
          name="password"
          pattern="(?=.*[a-z])(?=.*[A-Z])(?=.*[0-9]).{8,30}"
          title="password must have lowercase and uppercase letters , password must have numbers and password must be 8-30 charcters long."
          required
        />
        <label for="cpass" class="input-label">Confirm password</label>
        <input
          id="cpass"
          type="password"
          placeholder="Confirm password"
          required
        />
        <input type="submit" id="submit" />

        <div class="bottom-sign">
          <div>
            <label id="check-label" for="check">Show password</label>
            <input type="checkbox" name="check" id="check" />
          </div>
          <a href="/login/" class="bottom-link">Have an account?</a>
        </div>
      </form>
    </div>
    <p class="fail">{% if user_found %} Username is taken {% endif %}</p>

    <script type="module" src="{% static 'js/signup.js' %}"></script>
  </body>
</html>
